*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: satoshi;
}

html, body{
  width: 100%;
  height: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    background-color: #313647;
    display: flex;
    justify-content: center;
    align-items: center;
}
#panel{
    width: 80%;
    height: 80%;
    background-color: #FFF8D4;
    border-radius: 20px;
    overflow: hidden;
}
#pTop{
    height: 100px;
    width: 100%;
    padding: 0 30%;
    background-color: #A3B087;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem{
    width: 10%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.elem h2{
    font-size: 22px;
    font-weight: 600;
}

.box{
    background-color: #FFF8D4;
    color: #435663;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
}
#pBottom{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bubble{
    height: 60px;
    width: 60px;
    background-color: #435663;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF8D4;
    font-weight: 700;
    font-size: 22px;

}
.bubble:hover{
    background-color: #A3B087;
    color: #435663;
}

#over {
    text-align: center;
    
    h2{
        font-size: 22px;
        text-transform: uppercase;
        color: #435663;
        margin-top: 20px;
    }
    button{
        padding: 10px 20px;
        background-color: #A3B087;
        color: #FFF8D4;
        border-radius: 20px;
        border: none;
        font-size: 22px;
        margin-top: 20px;
        cursor: pointer;
    }
    button:hover{
        background-color: #435663;
        color: #FFF8D4;
    }
}
#game{
    color: #435663;
    font-size: 62px;
}